@import './item';

.header__menu {
    position: sticky;
    top: 0;
    transition: all 1s ease-in-out;
    width: 100%;
    background-color: $whiteColor;

    .menu {
        display: flex;
        justify-content: center;
    
        &__list {
            display: flex;
            gap: 2rem;
    
            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding-top: .75rem;
                gap: 0;
            }
        }
    
        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    @media screen and (max-width: 768px) {
        position: fixed;
        left: 0;
        top: -100%;
    }

    & > hr {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

