@import './menu/menu';
@import './menu/mobile-menu';

.header {
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $whiteColor;
    }

    hr {
        width: 100%;
        height: 1px;
        background: $grayColor;
    }

    &__container:first-of-type{
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 82px;
        
        .header__logo {
            position: absolute;
            left: calc(100%/2 - 90px);

            @media screen and (max-width: 768px) {
                position: static;
            }
        }

        .header__search {
            margin-left: auto;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}